<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPcXheCw9vI-CAcrda1soaLRdljVh3iCU</string>
	<key>GCM_SENDER_ID</key>
	<string>1025107317305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hugy</string>
	<key>PROJECT_ID</key>
	<string>hugy-e8e0a</string>
	<key>STORAGE_BUCKET</key>
	<string>hugy-e8e0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025107317305:ios:fb2cbcb0d2e054bf0333e8</string>
</dict>
</plist>